@tailwind base;
@tailwind components;
@tailwind utilities;

.black-gradient {
  background-image: linear-gradient(141deg, #969699, #1e1e22);
}

.paragraphSize {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .paragraphSize {
    font-size: 16px;
  }
}

input[type='radio'] {
  position: absolute;
  left: -9999px;
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #666;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type='radio']:checked + label {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.top {
  transform: skew(46deg, -9deg) translate(0px, 4px);
}

.top-sm {
  transform: skew(-5deg, -44deg) translate(-8px, -4px);
}

.main-bg {
  background-color: #f6f6f6;
}

.bar-bg {
  background-color: #c8c8c8;
}

.bar-top {
  background-color: #a6a6a6;
}

@layer base {
  :root {
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
  }
}

/* NOTES START */

.blog-pre {
  margin-bottom: 3em !important;
  position: relative;
}

.code-copy-btn {
  color: white;
  position: absolute;
  right: 10px;
  top: -2px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.code-copy-btn:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.post-markdown #table-of-contents {
  display: none;
}

.notes-wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 25px;
  position: relative;
}

.toc {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: #c2c2c2 transparent;
  scrollbar-gutter: stable;
}

.toc h2 {
  margin-top: 24px;
}

.toc ul {
  padding: 0;
}

.toc ul li a {
  font-weight: 500;
  text-decoration: none;
}

.toc ul li a:hover {
  text-decoration: underline;
}

.toc li ul {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .notes-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .toc {
    position: static;
    order: -1;
  }
}

/* NOTES END  */
